<h1>Hello, world!</h1>

<p *ngIf="!custumers"><em>Loading...</em></p>
<button type="button" (click)="novo()">Novo</button>
{{custumerNovo | json}}
<form *ngIf="custumerNovo">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" name="nome" [(ngModel)]="custumerNovo.name" class="form-control">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" [(ngModel)]="custumerNovo.email" class="form-control">
    </div>
    <div class="form-group">
        <label>Data de nascimento</label>
        <input type="text" name="birthDate" [(ngModel)]="custumerNovo.birthDate" class="form-control">
    </div>

    <button type="button" class="btn btn-primary" (click)="salvarNovo()">Salvar</button>

    <div class="col-12" *ngIf="custumerNovo.validatorResults">
        <div class="row" *ngFor="let validatorResult of custumerNovo.validatorResults">
          <b>{{validatorResult.errorMessage}}</b>
        </div>
      </div>
  </form>
<div class="row">
  <div class="col-3">Name</div>
  <div class="col-3">Email</div>
  <div class="col-3">BirthDate</div>
</div>
<div class="row" *ngFor="let custumer of custumers">
  <div class="col-3">{{ custumer.name }}</div>
  <div class="col-3">{{ custumer.email }}</div>
  <div class="col-3">{{ custumer.birthDate }}</div>
  <div class="col-3">
    <button type="button" (click)="editar(custumer)">Editar</button>
  </div>

  <div class="row" *ngIf="custumer.modeEdit">
    <div class="col-12">
      <div class="row">
        <input type="text" class="form-control" [(ngModel)]="custumer.name" placeholder="Nome">

        <input type="text" class="form-control" [(ngModel)]="custumer.email" placeholder="Email">

        <button type="button" (click)="salvar(custumer)">Salvar</button>
      </div>
    </div>
    <div class="col-12" *ngIf="custumer.validatorResults">
      <div class="row" *ngFor="let validatorResult of custumer.validatorResults">
        <b>{{validatorResult.errorMessage}}</b>
      </div>
    </div>
  </div>

</div>
